.form {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100vw;
  background-color: #4242aa;
  box-shadow: 0 -2px 15px black;
  padding: 8px 0 10px 0;
  z-index: 99;
}

.input {
  padding-left: 40px;
  width: 400px;
  height: 40px;
  border-radius: 4px;
  border: none;
  letter-spacing: 0.04em;
}

.input::placeholder {
  font: inherit;
  font-size: 18px;
}

.btn {
  padding: 8px 16px;
  background-color: white;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
}

.searchIcon {
  color: rgb(87, 87, 87);
}
